<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="fetchUserData()" [disabled]="loading">
    {{ loading ? 'Loading...' : 'Fetch User Data' }}
  </ion-button>

  <div *ngIf="!loading">
    <h2>User Names</h2>
    <ul>
      <li *ngFor="let name of userNames">{{ name }}</li>
    </ul>

    <h2>User Emails</h2>
    <ul>
      <li *ngFor="let email of userEmails">{{ email }}</li>
    </ul>

    <h2>User Names and Emails</h2>
    <ul>
      <li *ngFor="let user of userNamesAndEmails">{{ user.name_and_email }}</li>
    </ul>
  </div>
</ion-content>
